{% extends 'base.html.twig' %}
{% block title %}Validations{% endblock %}

{% block content %}
    <div class="container">
        <p>
            Felicitations vos informations ont bien été pris en compte
        </p>
    </div>
{% endblock %}